include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
recursive-include assets *.svg
recursive-include docs *.md
recursive-include examples *.asm
recursive-include examples/expected *.txt
recursive-include tests *.py
recursive-include tools *.py
